body {
  background: #f7f7f7;
  font-family: Arial;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
ul,
li {
  margin: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.menu {
  font-size: 1rem;
  font-weight: 550;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu a {
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  color: black;
  border: 2px solid transparent;
  transition: borde-color 0.3;
}

.menu a:hover {
  border-color: rgb(212, 55, 2);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #ffffff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}

.especificacao p {
  font-size: 1.5rem;
}

.especificacao h1 {
  font-size: 2rem;
}

.especificacao h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.especificacao-cover img {
  object-fit: cover;
  height: 100%;
}

.especificacao a:hover {
  background-color: rgb(115, 32, 4);
}

.botao {
  background: #e21;
  color: #ffff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.vantagem {
  font-size: 3rem;
  text-transform: uppercase;
  color: #9f9f9f;
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url(/img/onda.svg);
}

.vantagem-lista {
  padding: 20px;
  margin-bottom: 0px;
  font-size: 1.25rem;
  list-style: none;
  background-color: #ffff;
}

.vantagens-listas {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 10px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-listas h3 {
  font-weight: 600;
}

.vantagens-listas:hover {
  border-left: 3px solid #e21;
}

.vantagens-listas:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens-listas p {
  grid-column: 2;
}

.vantagens-listas img {
  margin: 20px;
}

.rodape {
  background: #ffff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .vantagem {
    text-align: center;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  body {
    margin-top: 35px;
    gap: 25px;
  }
}

@media (max-width: 600px) {
  .conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .introducao p {
    text-align: left;
  }
  .introducao h1 {
    text-align: center;
  }
}
